<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img style='width:48px;height:48px;margin-right:16px' src="https://camo.githubusercontent.com/4397696224a4908df40488e4cf85be42acd97cf36ae64781a46f8ff8696d7a8c/68747470733a2f2f7777772e656c61737469632e636f2f7374617469632d7265732f696d616765732f656c61737469632d6c6f676f2d3230302e706e67"/>
	<a class="navbar-brand" href="/">Elasticsearch Demo</a>
	<ul class="navbar-nav mr-auto">
	</ul>
</nav>